/* Estilos generales */
body {
  color: #f5efee;
  font-family: system-ui;
  font-size: 15px;
}

h1 {
  color: #f5efee;
  font-size: 60px;
}

strong, h2 {
  color: #f8cdc6;
}

::selection {
  background-color: #f8cdc6;
  color: #4a5b6e;
}

main {
  display: flex;
}

.left-section {
  padding: 20px;
  margin: 0 70px;
  max-width: 33%;
  position: fixed;
  justify-content: center;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align:left;
}

.left-section ul {
  list-style-type: none; 
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}


.presentation h1,
.presentation h2{
  margin-bottom: 10px;
}

.presentation p{
  margin-bottom: 100px;
}

.menu-item {
  color: #f5efee;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;   
}

.menu-item:hover {
  color: #f8cdc6;
  font-weight: bold;
}


.right-section {
  align-items: rigth;
  margin-left: 50%;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  main {
    flex-direction: column;
    padding: 20px;
  }

  .left-section {
    display: flex;
    width: 100%;
    max-width:100%;
    position: relative;
    margin-left: 0px;
    margin-right:0px;
  }

  .right-section {
    width: 100%;
    margin-left: 0;
  }
}

