.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.job p {
    line-height: 1.6;
}

.job ul {
    list-style-type: disc;
    margin-left: 20px;
}

.experience > .job + .job {
  padding-top: 2rem;           /* espacio arriba de cada job excepto el primero */
  border-top: 1px solid rgba(255,255,255,0.2); /* línea opcional para más claridad */
}