
.mouse-follower {
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0) 50%);
    border-radius: 50%;
    opacity: 0.9;
    pointer-events: none;
    width: 500px;
    height: 500px;
    left: -250px;
    top: -250px;
    transition: transform 0.1s ease-out; 
  }